/* Add this CSS for the loading GIF */
#loading-gif {
  width: 50px; /* Adjust size as needed */
  height: 50px;
  display: block;
  margin: 0 auto 20px auto; /* Center it */
}

/* Existing CSS styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input:focus {
  border-color: #007bff;
}

.btn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 1rem;
  font-weight: bold;
}

.welcome {
  font-size: 1.5rem;
  color: #007bff;
  text-align: center;
}

#logout-btn {
  background-color: orange;
  color: inherit;
  width: 50%;
  margin: 10px auto;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: rgb(246, 163, 9);
  }
}
