<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heroes API</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}" />
  </head>
  <body>
    <div class="flex items-center justify-center">
      <h2>Heroes</h2>
      <form method="post" action="/heroes">
        <label for="heroName">Hero Name:</label>
        <input type="text" id="heroName" name="name" required />
        <label for="nickname">Nickname (Max 3 letters):</label>
        <input
          type="text"
          id="nickname"
          name="secret_name"
          maxlength="3"
          required
        />
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required />
        <button type="submit">Submit</button>
      </form>
    </div>
    <div>
      <h3>Heroes</h3>
      {% for hero in heroes %}
      <p>
        {{hero['name']}} &rightarrow; {{hero['secret_name'].upper()}}
        &UpTeeArrow; {{hero['age']}}
      </p>
      {% endfor %}
    </div>
  </body>
</html>
